.button {
  padding: var(--gap-s) 1.5rem;
  background: var(--color-1);
  color: var(--color-7);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: end;
  font-family: var(--family-bold);
  font-size: var(--paragraph);
}
.button:hover {
  background: hsl(213, 82%, 33%);
}
