.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.summaryOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  background: rgba(71, 61, 255, 0.03);
  border-radius: 10px;
  padding: var(--gap);
}
.summaryOptionsContainer hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-7);
  border: none;
}
.planDesc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.planDesc a {
  width: fit-content;
  border-bottom: 1px solid var(--color-6);
  color: var(--color-6);
}
.planDesc > a:hover,
.planDesc > a:visited:hover {
  border-bottom: 1px solid var(--color-2);
  color: var(--color-2);
}

.planDesc > a:visited {
  color: var(--color-6);
}
.planDesc p {
  color: var(--color-1);
  font-family: var(--family-bold);
}

.planContainer {
  display: flex;
  justify-content: space-between;
}
.planContainer > span {
  color: var(--color-1);
  font-family: var(--family-medium);
}
.addonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.addonContainer > div {
  display: flex;
  justify-content: space-between;
}
.addonContainer > div > p {
  color: var(--color-6);
}
.addonContainer > div > span {
  color: var(--color-1);
}
.totalContainer {
  padding: var(--gap);
  display: flex;
  justify-content: space-between;
}
.totalContainer > p {
  color: var(--color-6);
}
.totalContainer > span {
  font-size: 20px;
  color: var(--color-2);
  font-family: var(--family-bold);
}
.buttonsContainer button:nth-child(1) {
  background: none;
  color: var(--color-6);
}
.buttonsContainer button:nth-child(1):hover {
  color: var(--color-1);
}
@media (max-width: 1020px) {
  .buttonsContainer {
    background-color: var(--color-10);
    padding: var(--gap);
    position: absolute;
    right: 0rem;
    bottom: 0;
    width: 100vw;
  }
}
