@font-face {
  font-family: "ubuntu";
  src: url("../public/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-medium";
  src: url("../public/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../public/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
html {
  --color-1: hsl(213, 96%, 18%);
  --color-2: hsl(243, 100%, 62%);
  --color-3: hsl(228, 100%, 84%);
  --color-4: hsl(206, 94%, 87%);
  --color-5: hsl(354, 84%, 57%);
  --color-6: hsl(231, 11%, 63%);
  --color-7: hsl(229, 24%, 87%);
  --color-8: hsl(217, 100%, 97%);
  --color-9: hsl(231, 100%, 99%);
  --color-10: hsl(0, 0%, 100%);
  --family: "ubuntu", sans-serif;
  --family-medium: "ubuntu-medium", sans-serif;
  --family-bold: "ubuntu-bold", sans-serif;
  --paragraph: 16px;
  --gap-l: 6rem;
  --gap-s: 0.825rem;
  --gap: 1.25rem;
}

body {
  font-family: var(--family);
  background: var(--color-8);
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  margin: 0;
  padding: 0;
  font-size: var(--paragraph);
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
label {
  display: inline;
  font-family: var(--family-medium);
}
input::placeholder {
  color: var(--color-6);
  font-family: var(--family);
}
.card {
  max-width: 1440px;
  padding: var(--gap-s) var(--gap-l) var(--gap-s) var(--gap-s);
  width: 1000px;
  display: flex;
  gap: var(--gap-l);
  border-radius: 10px;
  background: var(--color-10);
  box-shadow: 0 4px 10px -2px var(--color-7);
}

.active {
  background-color: var(--color-4);
  color: var(--color-1) !important;
  border: none !important;
}
.activePlan {
  background: rgba(71, 61, 255, 0.03);
  border-color: var(--color-2);
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
}
@media (max-width: 1020px) {
  .card {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: var(--color-8);
    gap: 0;
    padding: 0;
    align-items: center;
  }

  .container {
    margin-top: -4rem;
    width: 91%;
    background-color: var(--color-10);
    padding: 0 1.5rem 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px -2px var(--color-7);
  }
}
